* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  margin-top: 2%;
}

.main-header {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 60px;
  background: orangered;
  color: #fff;
}
h1 {
  text-align: center;
}

.card {
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.cone {
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
  width: 200px;
  height: auto;
}

#cone img {
  width: 25%;
}
.card header {
  padding: 20px;
  background: #13293d;
  color: #fff;
}

.card img {
  width: 100%;
  min-width: 400px;
}

button {
  width: 200px;
  margin: 0 0%;
  font-size: 200%;
  color: #13293d;
  background-color: #fff;
  border: 3px solid #13293d;
}

/* The user's cursor is positioned over the element */
button:hover {
  background-color: #07be10;
  color: #fff;
}

/* The user is actively pressing down on the element */
button:active {
  font-size: 180%;
  box-shadow: 0 0 10px #000 inset;
}

/* The element is currently in focus, either by tabbing to or clicking on it */
button:focus {
  outline: none;
  border-color: #8ac4ff;
}
